$text: #222222;
$text-alpha: #666668;
$border: #E3E3E3;
$bg-gray: #F3EFFF;
$brand: #5726DA;
$brand-alpha: #EAE4FF;
.menu-mobile, .filter-mb, .menu-mobile-2 {
    display: none;
}
@media only screen and (max-width: 1701px) {
   
}
@media only screen and (max-width: 1601px) {
   
   
}
@media only screen and (max-width: 1400px) {


}
@media only screen and (max-width: 1280px) {
   
}
@media only screen and (max-width: 950px) {
    
}

@media only screen and (max-width: 320px) {

}