@charset "UTF-8";
a:hover {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

h1 {
  font-size: 45px;
  font-weight: 700; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px;
  font-weight: 500; }

h4 {
  font-size: 20px;
  font-weight: 500; }

h5 {
  font-size: 18px;
  font-weight: 500; }

h6 {
  font-size: 16px;
  font-weight: 500; }

p {
  font-size: 16px; }

b,
span,
i,
label {
  font-size: 13px; }

section {
  padding: 40px 0;
  display: block;
  width: 100%;
  overflow: hidden; }

.title-section h2 {
  display: inline-block;
  width: 100%; }

a {
  text-decoration: none; }

.fw-normal, .head-page-detail .content-box-course .sale-fee, #faq .card .card-header .so-buoi {
  font-family: 'Google Sans', sans-serif; }

.fw-bold, .box-fee .original-fee, .head-page-detail .content-box-course .original-fee, #faq .card .card-header, strong {
  font-family: 'Google Sans Bold'; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.bg-gray {
  background-color: #F3EFFF; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pt-100 {
  padding-top: 100px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.p0 {
  padding: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.text-main {
  color: #222222; }

.text-white {
  color: #fff; }

.text-brand {
  color: #5726DA; }

.text-uppercase {
  text-transform: uppercase; }

.none-overflow {
  overflow: initial; }

.sticky-box {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 70px !important; }

.none-uppercase {
  text-transform: inherit; }

.text-alpha {
  color: #666668; }

.btn.focus,
.btn:focus {
  box-shadow: none; }

body {
  font-family: 'Google Sans', sans-serif;
  color: #222222;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 24px;
  font-size: 16px; }

.container {
  max-width: 1200px;
  margin: auto; }

button:focus {
  outline: 0; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }
  .btn-action span {
    padding-left: 5px;
    font-weight: 900; }

.btn-common-gradient {
  background: linear-gradient(90deg, #EAE4FF 0.41%, #FFF 97.65%) !important;
  border: 1px solid #5726DA !important;
  color: #5726DA !important; }

.btn-common-line {
  background: #F3EFFF !important;
  border: 1px solid transparent  !important;
  color: #5726DA !important; }

input[type=button],
input[type=submit],
input[type=reset] {
  color: white !important; }

.btn-common-fill, button, .btn-common-gradient, .btn-common-line, input[type=button], input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5726DA;
  padding: 15px 25px 15px 30px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  color: white;
  height: 48px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px; }
  .btn-common-fill:hover, button:hover, .btn-common-gradient:hover, .btn-common-line:hover, input[type=button]:hover, input[type=submit]:hover {
    opacity: 0.9;
    color: white; }
  .btn-common-fill i,
  .btn-common-fill span,
  .btn-common-fill img, button i,
  button span,
  button img, .btn-common-gradient i,
  .btn-common-gradient span,
  .btn-common-gradient img, .btn-common-line i,
  .btn-common-line span,
  .btn-common-line img, input[type=button] i,
  input[type=button] span,
  input[type=button] img, input[type=submit] i,
  input[type=submit] span,
  input[type=submit] img {
    font-weight: 600;
    margin-left: 5px; }

.custom-scrollbar {
  display: flex;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: 100%;
  flex-wrap: unset;
  justify-content: left; }

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #fff; }

::-webkit-scrollbar {
  width: 1px;
  height: 0;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ffffff; }

textarea {
  height: 100px !important;
  padding-top: 12px !important; }

input,
select,
textarea {
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #222222;
  width: 100%;
  padding: 5px 15px;
  height: 40px;
  font-size: 14px;
  font-weight: normal; }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #C4C8D3;
    font-weight: normal; }
  input:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #E3E3E3; }

::-webkit-calendar-picker-indicator {
  filter: invert(0.6); }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.form-control:focus {
  border-color: #5726DA;
  outline: 0;
  box-shadow: none; }

.breadcrumbs i {
  color: #666668;
  font-weight: 600; }
  .breadcrumbs i.ti-angle-right {
    font-size: 10px;
    color: #80808082; }
.breadcrumbs a {
  color: #666668;
  font-size: 13px; }

/* ----------------------- Modal----------------------- */
.modal {
  padding: 80px 0; }

.modal-body, form {
  padding-top: 15px; }
  .modal-body .btn-action, form .btn-action {
    text-align: right; }
    .modal-body .btn-action .btn-common-fill, form .btn-action .btn-common-fill {
      width: fit-content; }
  .modal-body input, form input {
    background-color: #F8F9FA;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    height: 50px; }
  .modal-body textarea, form textarea {
    background-color: #F8F9FA; }
  .modal-body label, form label {
    font-size: 16px; }
  .modal-body .form-group, form .form-group {
    margin-bottom: 30px; }

.modal-content {
  margin: auto;
  padding: 25px 15px 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #E3E3E3; }

.modal-dialog {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-header {
  padding: 0 10px;
  border-bottom: 0; }
  .modal-header .close {
    position: absolute;
    right: 30px;
    top: 30px;
    opacity: 1;
    background-color: #EAE4FF;
    border-radius: 100%;
    padding: 20px;
    width: 30px;
    height: 30px; }
    .modal-header .close i {
      font-size: 15px;
      color: #5726DA;
      opacity: 1;
      font-weight: 600;
      margin: 0; }

.modal-title {
  font-weight: 600; }

.two-filed-col .form-group {
  width: 250px; }
  .two-filed-col .form-group:first-child {
    margin-right: 20px; }

.owl-carousel {
  z-index: 0; }

/*-------------------------------------------------------- head menu -------------------------------------------------*/
.progress-container {
  width: 100%;
  height: 2px; }

.progress-bar {
  height: 2px;
  background: #5726DA;
  width: 0%; }

.header2 {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }

.header-1 {
  display: inline-block;
  width: 100%;
  z-index: 9;
  position: fixed;
  top: 0;
  padding: 10px 30px;
  background: #fff;
  height: 80px; }
  .header-1 .logo .logo-default {
    display: block; }
    .header-1 .logo .logo-default img {
      height: 60px; }
  .header-1 .logo .logo-scroll {
    display: none; }
  .header-1 .menu {
    position: relative;
    z-index: 1;
    display: inline-block; }
    .header-1 .menu nav ul {
      padding: 0;
      display: flex;
      justify-content: left;
      margin-bottom: 0; }
      .header-1 .menu nav ul li {
        position: relative;
        list-style: none; }
        .header-1 .menu nav ul li::before {
          content: "\e64b";
          display: inline-block;
          font-family: 'themify';
          font-size: 12px;
          font-weight: 100;
          position: absolute;
          right: 0;
          top: 15px;
          color: white; }
        .header-1 .menu nav ul li.no-sub::before {
          display: none; }
        .header-1 .menu nav ul li i {
          display: none; }
        .header-1 .menu nav ul li a {
          padding: 0 20px;
          position: relative;
          font-size: 16px;
          font-weight: 600;
          color: #222222;
          display: flex;
          align-items: center; }
          .header-1 .menu nav ul li a:hover {
            color: #5726DA; }
          .header-1 .menu nav ul li a.active {
            color: #5726DA; }
        .header-1 .menu nav ul li:hover ul {
          opacity: 1;
          visibility: initial; }
        .header-1 .menu nav ul li.active a {
          color: #5726DA; }
        .header-1 .menu nav ul li.active ul li a {
          color: #222222; }
          .header-1 .menu nav ul li.active ul li a.active {
            color: #666668; }
  .header-1 .logo {
    float: left; }
  .header-1 .content-head-right {
    float: right;
    display: flex;
    align-items: center; }
    .header-1 .content-head-right .btn-action {
      width: fit-content;
      border: 1px solid transparent; }
      .header-1 .content-head-right .btn-action:hover {
        border: 1px solid white;
        color: white; }
      .header-1 .content-head-right .btn-action svg {
        margin-left: 10px; }
  .header-1 .menu-mobile-2 .ti-menu {
    display: none; }
  .header-1 .menu-mobile-2 .close-menu-2 {
    display: none; }

.content-head-left {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; }

.search-head {
  opacity: 0;
  visibility: hidden;
  left: 0;
  transition: 0.5s;
  position: fixed;
  top: 80px;
  width: 100%;
  margin: 0;
  background: #fff; }
  .search-head input {
    border-radius: 0;
    border: none;
    background-color: white;
    padding: 5px 10px;
    width: 100%;
    padding-left: 30px;
    height: 60px;
    position: relative; }
    .search-head input::placeholder {
      font-size: 20px;
      color: #666668 !important; }
  .search-head i {
    position: absolute;
    top: 20px;
    z-index: 9999; }
    .search-head i::before {
      color: #666668 !important; }

.enter-search-box, .suggest-search {
  position: relative; }
  .enter-search-box .ic-search-box, .suggest-search .ic-search-box {
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2; }

.suggest-search {
  padding-top: 50px; }
  .suggest-search .ic-search-box {
    top: 0; }

.btn-search {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin: 0 50px 0 20px; }
  .btn-search .ti-search, .btn-search .ti-close {
    font-size: 18px;
    font-weight: 800; }
  .btn-search .close-search {
    display: none; }
  .btn-search.show-search-mb .ti-search {
    display: none; }
  .btn-search.show-search-mb .close-search {
    display: block; }
  .btn-search.show-search-mb .search-head {
    opacity: 1;
    visibility: initial;
    padding-top: 50px; }

.suggest-search ul {
  margin-top: 15px; }
  .suggest-search ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    position: relative;
    padding-left: 30px; }
    .suggest-search ul li i {
      top: 0;
      left: 0; }
      .suggest-search ul li i::before {
        color: #222222; }
    .suggest-search ul li a {
      color: #222222;
      font-size: 14px; }
    .suggest-search ul li:hover a {
      color: #5726DA; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background: #fff; }
  .menu-scroll .logo .logo-default {
    display: none; }
  .menu-scroll .logo .logo-scroll {
    display: block; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.menu-mobile {
  display: none; }

/* ----------------------------- Homepage -----------------------------*/
/* ----------- Banner Home -----------------*/
.banner-home .bg-line {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0; }
.banner-home .box-img-banner {
  text-align: center;
  padding-top: 100px;
  z-index: 1;
  position: relative; }
  .banner-home .box-img-banner img {
    max-width: 750px; }

.box-item-img {
  height: 400px;
  max-width: 700px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }
  .box-item-img img {
    position: absolute; }
  .box-item-img .item-img01 {
    left: 50px;
    bottom: 0; }
  .box-item-img .item-img02 {
    left: 180px;
    bottom: -20px; }
  .box-item-img .item-img03 {
    left: 330px;
    bottom: -50px; }
  .box-item-img .item-img04 {
    bottom: 15px;
    right: 250px; }
  .box-item-img .item-img05 {
    right: 174px;
    bottom: 15px; }
  .box-item-img .item-img06 {
    right: 120px;
    bottom: -40px; }

@keyframes scroll {
  0% {
    transform: translateY(0); }
  30% {
    transform: translateY(60px); } }
.animPulse {
  animation: animPulse 3s linear 0s infinite alternate; }

@keyframes animPulse {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }
.anim_moveBottom {
  animation: anim_moveBottom 1.5s linear 0s infinite alternate; }

@keyframes anim_moveBottom {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }
/*---------------- Box Question ----------------*/
.box-question .row {
  max-width: 830px;
  margin: 30px auto 0 auto; }
.box-question p {
  color: #5726DA;
  text-align: center; }

.item-box-ques {
  position: relative;
  display: flex;
  border-radius: 8px;
  border: 1px solid #E3E3E3;
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  padding: 30px 20px;
  transition: all .3s ease-in-out;
  margin-bottom: 30px; }
  .item-box-ques .content-ques {
    padding-left: 20px; }
    .item-box-ques .content-ques span {
      color: #666668; }
  .item-box-ques:hover {
    border: 1px solid #5726DA; }
  .item-box-ques .ic-next-link {
    position: absolute;
    right: 10px;
    bottom: 10px; }
  .item-box-ques:hover {
    cursor: pointer; }
    .item-box-ques:hover .content-ques h5 {
      color: #5726DA; }

/* --------------------------- Section Course Home ------------------------------- */
.section-course {
  background-color: #5726DA; }
  .section-course .title-section h2 {
    color: #fff; }
  .section-course .list-item-course {
    padding: 30px 0 0 30px;
    display: inline-block; }
  .section-course .btn-common-fill {
    border: 1px solid #fff; }

.item-course {
  transition: all .3s ease-in-out;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  display: flex;
  position: relative;
  margin-bottom: 25px;
  margin-right: 25px;
  width: 425px; }
  .item-course a {
    display: inline-block; }
  .item-course img {
    border-radius: 6px;
    max-width: 170px; }
  .item-course .content-item-coures {
    padding-left: 15px;
    display: inline-block;
    width: 100%; }
  .item-course .tag-course {
    background-color: #F3EFFF;
    border-radius: 26px;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
    color: #5726DA;
    font-size: 13px; }
  .item-course .title-course {
    margin-bottom: 5px; }
    .item-course .title-course a {
      color: #222222;
      max-height: 40px;
      min-height: 30px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2; }
  .item-course .ic-next-link {
    position: absolute;
    bottom: 10px;
    right: 10px; }
  .item-course:hover {
    box-shadow: 0px 4px 14px 0px #bda9f287; }
    .item-course:hover .title-course a {
      color: #5726DA; }

.values-home .row {
  align-items: center; }
.values-home .btn-action a {
  margin: 20px 10px 0 0; }

.item-values {
  position: relative;
  padding-left: 100px;
  margin: 20px 0;
  display: inline-block; }
  .item-values img {
    position: absolute;
    left: 0;
    height: 75px; }

.content-values-right img {
  width: 100%; }

.box-link-home {
  border-radius: 8px;
  border: 1px solid #E3E3E3;
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  padding: 30px;
  transition: all .3s ease-in-out; }
  .box-link-home h2 a:hover {
    color: #5726DA; }
  .box-link-home img {
    height: 66px;
    margin-bottom: 20px; }
  .box-link-home p {
    line-height: 25px;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .box-link-home i {
    text-align: right;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    color: #5726DA; }
  .box-link-home:hover {
    border: 1px solid #5726DA; }

/* ------------------- Footer -----------------------------*/
.border-bottom {
  border-bottom: 1px solid #E3E3E3; }

.footer-bottom {
  padding-bottom: 20px;
  display: inline-block;
  width: 100%; }
  .footer-bottom img {
    width: 100%; }
  .footer-bottom .info-left-footer img {
    height: 40px;
    width: fit-content; }

.intro-footer {
  max-width: 410px; }
  .intro-footer .btn-common-gradient {
    width: fit-content; }

.info-left-footer, .info-right-footer {
  width: 70%;
  float: left;
  display: flex;
  align-items: center;
  padding-top: 24px; }
  .info-left-footer p, .info-right-footer p {
    margin-bottom: 0; }

.info-right-footer {
  justify-content: flex-end;
  padding-top: 40px;
  width: 30%; }
  .info-right-footer a {
    margin: 0 10px; }
  .info-right-footer img {
    height: 20px; }

.quick-link {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 30px;
  padding-top: 10px; }
  .quick-link li {
    list-style: none;
    float: left;
    margin-right: 20px; }
    .quick-link li a {
      color: #666668; }

/* Custom select box */
.custom-select {
  height: 50px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #E3E3E3;
  position: relative;
  padding: 0;
  background: none; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #ABABAB;
  top: 12px;
  right: 32px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #222222;
  padding: 12px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 16px;
  background-color: #F8F9FA;
  border-radius: 8px;
  height: 48px; }

.select-items div {
  background-color: transparent; }

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  max-height: 250px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #f8f9fa73; }

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: #5726DA;
    padding: 10px;
    font-weight: 500;
    border-radius: 100%;
    border: 1px solid #5726DA;
    background-color: #F3EFFF; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      color: #fff;
      border: 1px solid #5726DA;
      background-color: #5726DA;
      padding-top: 10px; }
    .pagging-page ul li a i,
    .pagging-page ul li span i {
      font-weight: 800; }
  .pagging-page ul li:hover a {
    color: white;
    background-color: #5726DA; }

/*------------- Custom tab content --------------*/
.tab-system .nav-tabs .nav-link:focus, .tab-system .nav-tabs .nav-link:hover, .tab-system .nav-tabs .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  border-color: transparent; }
.tab-system .nav-tabs {
  border-radius: 70px;
  justify-content: center;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: fit-content;
  flex-wrap: unset;
  padding: 10px;
  border: 1px solid #E3E3E3;
  margin: 0 auto; }
  .tab-system .nav-tabs .nav-link {
    width: fit-content;
    text-align: center; }
.tab-system .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  background-color: #F3EFFF;
  color: #5726DA; }
.tab-system .tab-content {
  margin: 20px 0; }
.tab-system .nav-tabs .nav-item {
  margin-bottom: 0;
  padding: 10px 25px;
  border-radius: 100px;
  color: #222222; }
.tab-system.tab-khoa-hoc-le .nav-tabs {
  border: 0 !important;
  margin: 0;
  border-radius: 0;
  padding: 0; }
  .tab-system.tab-khoa-hoc-le .nav-tabs .nav-item {
    border-radius: 8px;
    border: 1px solid #ABABAB;
    margin: 0 10px; }
.tab-system.tab-khoa-hoc-le .nav-item.show .nav-link, .tab-system.tab-khoa-hoc-le .nav-tabs .nav-link.active {
  background-color: #5726DA;
  color: #fff;
  border: transparent; }

.tabs-libary {
  margin-left: 15px;
  padding-left: 0;
  border-left: 1px solid #E3E3E3;
  justify-content: left !important;
  display: flex;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: fit-content;
  flex-wrap: unset;
  justify-content: left; }
  .tabs-libary .nav-tabs {
    justify-content: left !important; }

/* ------------------------- Page Course List ----------------------*/
.box-course {
  border-radius: 8px;
  margin-bottom: 40px; }
  .box-course .content-box-course {
    background-color: #F3EFFF;
    padding: 30px;
    border-radius: 0 0 8px 8px; }
  .box-course h4 {
    padding: 10px 20px 10px 30px;
    border: 1px solid #E9E3FC;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0; }

.content-box-course ul {
  margin-bottom: 0; }
  .content-box-course ul li {
    display: inline-flex;
    width: 45%;
    list-style: none;
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px; }
    .content-box-course ul li svg, .content-box-course ul li img {
      position: absolute;
      left: 0;
      height: 30px; }

.info-content-course strong {
  margin: 3px 0;
  display: inline-block; }
.info-content-course .days-course::before {
  content: '-';
  display: inline-block; }

.box-fee {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative; }
  .box-fee .info-fee {
    width: 100%; }
  .box-fee p {
    margin-bottom: 0; }
    .box-fee p span {
      font-size: 16px; }
  .box-fee .original-fee {
    color: #5726DA;
    font-size: 30px;
    margin: 15px 0 10px 0; }
  .box-fee .sale-fee {
    color: #222222;
    font-size: 18px;
    font-family: 'Google Sans', sans-serif;
    padding-left: 30px;
    text-decoration: line-through; }
  .box-fee span {
    font-size: 14px; }
  .box-fee .btn-action {
    position: absolute;
    bottom: 20px;
    right: 20px; }
    .box-fee .btn-action a {
      margin-right: 15px; }
      .box-fee .btn-action a:last-child {
        margin-right: 0; }

.view-more-course {
  background-color: #fff;
  border-radius: 8px; }
  .view-more-course .btn-common-line {
    background: #fff !important;
    height: 58px; }

.content-box-course .item-course, .khoa-hoc-le .item-course {
  display: inherit;
  padding: 15px;
  width: 100%; }
  .content-box-course .item-course img, .khoa-hoc-le .item-course img {
    max-width: 100%; }
  .content-box-course .item-course .content-item-coures, .khoa-hoc-le .item-course .content-item-coures {
    padding-top: 20px;
    padding-left: 0; }

.content-box-course .more-list-course {
  display: none; }
.content-box-course.show-more-list-course .more-list-course {
  display: flex; }
.content-box-course.show-more-list-course .view-more-course {
  display: none; }

.khoa-hoc-le {
  background-color: #F3EFFF;
  padding: 30px 10px;
  border-radius: 8px; }

.box-search-course {
  position: relative;
  max-width: 280px;
  width: 100%; }
  .box-search-course i {
    position: absolute;
    left: 15px;
    top: 16px;
    font-size: 18px;
    font-weight: 800; }
    .box-search-course i::before {
      color: #666668; }
  .box-search-course input {
    padding-left: 40px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #ABABAB; }
    .box-search-course input::placeholder {
      font-size: 16px;
      color: #ABABAB; }

/* ------------------------- Page Course Detail ----------------------*/
.head-page-detail .info-right-detail img {
  width: 100%; }
.head-page-detail .info-head-detail {
  padding: 40px 0; }
  .head-page-detail .info-head-detail .btn-common-fill {
    width: fit-content;
    margin: 30px 0 20px 0; }
  .head-page-detail .info-head-detail p {
    display: flex;
    align-items: center; }
    .head-page-detail .info-head-detail p img {
      height: 22px;
      margin-right: 10px; }
.head-page-detail .content-box-course {
  background-color: #EAE4FF;
  padding: 30px 0; }
  .head-page-detail .content-box-course ul {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: start; }
    .head-page-detail .content-box-course ul li {
      width: inherit;
      margin-bottom: 0; }
      .head-page-detail .content-box-course ul li svg path {
        fill: #5726DA; }
      .head-page-detail .content-box-course ul li:nth-child(2) {
        width: 27%; }
  .head-page-detail .content-box-course .sale-fee {
    text-decoration: line-through;
    color: #666668; }

.bg-gray02 {
  background-color: #F8F9FA; }

.box-who-course-for {
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E3E3E3;
  padding: 24px 24px 24px 40px;
  border-radius: 8px; }
  .box-who-course-for li {
    width: 100%;
    margin-bottom: 15px; }
    .box-who-course-for li:last-child {
      margin-bottom: 0; }

.accordion {
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  overflow: hidden; }

#faq .card {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #E3E3E3; }
  #faq .card:last-child {
    border-bottom: 0; }

#faq .card .card-header {
  border-bottom: 1px solid #E3E3E3;
  padding: 0; }
  #faq .card .card-header .so-buoi {
    font-size: 16px;
    position: absolute;
    right: 80px;
    color: #666668; }

#faq .card .card-body {
  font-size: 15px;
  padding-left: 25px;
  padding-top: 0;
  text-align: justify; }
  #faq .card .card-body p {
    position: relative;
    padding-left: 30px;
    margin-top: 15px;
    display: inline-block; }
    #faq .card .card-body p i {
      position: absolute;
      left: 0;
      font-size: 20px;
      top: 5px;
      font-weight: 800; }

#faq .card .card-header .btn-header-link {
  font-size: 20px;
  color: #222222;
  display: block;
  text-align: left;
  background: #fff;
  padding: 20px 25px;
  border-radius: 0;
  font-weight: 500; }

#faq .card .card-header .btn-header-link:after {
  content: "\e648";
  font-family: 'themify';
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #5726DA !important; }

#faq .card .card-header .btn-header-link.collapsed {
  color: #222222; }

#faq .card .card-header .btn-header-link.collapsed:after {
  content: "\e64b";
  color: #5726DA !important; }

#faq .card .collapsing {
  background: #fff;
  line-height: 30px; }

#faq .card .collapse {
  border: 0; }

#faq .card .collapse.show {
  background: #fff;
  line-height: 30px;
  color: #222222; }

.box-who-guide {
  position: relative;
  padding-left: 140px; }
  .box-who-guide img {
    position: absolute;
    left: 20px;
    top: 20px; }

.description-body {
  position: relative;
  height: 250px;
  overflow: hidden;
  padding-bottom: 50px; }

.heightAuto {
  height: initial !important;
  overflow: initial; }
  .heightAuto .expand-content-editor {
    background-image: unset; }
    .heightAuto .expand-content-editor button::before {
      content: 'Rút gọn';
      display: inline-block; }
    .heightAuto .expand-content-editor button i::before {
      content: "\e648"; }

.expand-content-editor {
  height: 150px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
  width: 100%;
  justify-content: left; }
  .expand-content-editor button {
    background: transparent;
    border: 0;
    width: fit-content;
    padding: 0; }
    .expand-content-editor button::before {
      content: 'Xem thêm';
      display: inline-block; }
    .expand-content-editor button i {
      font-weight: 800;
      margin-left: 5px; }
    .expand-content-editor button:hover {
      color: #5726DA; }

.box-cookies.fixed-title {
  display: none;
  top: 0;
  bottom: initial;
  z-index: 9; }
  .box-cookies.fixed-title .content-fixed-left {
    display: flex;
    align-items: center;
    width: 100%; }
    .box-cookies.fixed-title .content-fixed-left .title-section {
      margin-bottom: 0; }
    .box-cookies.fixed-title .content-fixed-left img {
      margin-right: 15px; }
  .box-cookies.fixed-title .btn-action {
    width: 100%; }

/* Status Sucess Noti */
.status-sucess-noti, .status-err-noti {
  position: absolute;
  right: 0;
  border-radius: 8px;
  background: #17C964;
  padding: 20px;
  max-width: 300px;
  border-radius: 8px;
  color: #fff; }

.status-err-noti {
  background: #F31212; }

.box-cookies {
  background: #FFF;
  box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.07);
  padding: 24px 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; }
  .box-cookies h4 {
    display: inline-block;
    margin-bottom: 0; }
  .box-cookies .btn-common-line {
    margin-right: 15px; }
  .box-cookies .btn-action {
    width: fit-content; }

/* Page-libary */
.btn-filter {
  max-width: 135px;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #E3E3E3;
  color: #222222;
  margin-left: 20px; }
  .btn-filter img {
    padding-right: 10px; }
  .btn-filter:hover {
    color: inherit; }

.page-libary {
  padding: 100px 30px 30px 30px; }

.list-libary-web .col-md-3 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.slider-libary {
  margin-bottom: 20px; }
  .slider-libary img {
    width: 100%;
    border-radius: 30px;
    background: #F8F9FA;
    padding: 10px 10px 25px 10px; }
  .slider-libary.slider-tab-web img {
    border-radius: 8px; }
  .slider-libary .owl-next, .slider-libary .owl-prev {
    right: -4%;
    background: url(../images/ic-next-slide.png) no-repeat center !important;
    background-size: contain !important;
    position: absolute;
    top: 35%;
    width: 32px;
    height: 32px; }
  .slider-libary .owl-prev {
    left: 0;
    background: url(../images/ic-prev-slide.png) no-repeat center !important; }
  .slider-libary .owl-dot.active span, .slider-libary .owl-dots .owl-dot:hover span {
    background: #5726DA !important; }
  .slider-libary .owl-dots {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    height: inherit; }
    .slider-libary .owl-dots span {
      margin: 5px 3px !important;
      width: 8px !important;
      height: 8px !important; }
  .slider-libary .owl-nav span {
    opacity: 0; }

.name-project {
  display: flex;
  align-items: center;
  margin-bottom: 75px; }
  .name-project img {
    max-width: 40px;
    border-radius: 0;
    background: transparent;
    padding: 0;
    margin-right: 10px; }

.popup-filter-catogories .hiddenCB div {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none; }
.popup-filter-catogories .hiddenCB input[type="checkbox"],
.popup-filter-catogories .hiddenCB input[type="radio"] {
  display: none; }
.popup-filter-catogories .hiddenCB label {
  cursor: pointer; }
.popup-filter-catogories .hiddenCB input[type="checkbox"] + label {
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  padding: 20px;
  margin: 10px; }
.popup-filter-catogories .hiddenCB input[type="checkbox"]:checked + label {
  background: #F3EFFF;
  border: 1px solid #5726DA;
  color: #5726DA; }
.popup-filter-catogories .modal-body {
  padding: 10px 0; }
.popup-filter-catogories .modal-dialog {
  max-width: 1040px; }

/* About US */
.banner-home.banner-about .bg-line {
  top: 80px;
  bottom: inherit; }
.banner-home.banner-about .box-question {
  margin-top: 110px;
  display: inline-block;
  width: 100%; }

.intro-page-about.box-img-banner {
  top: 20px; }
.intro-page-about h1 {
  text-align: center;
  line-height: 65px;
  margin: 0 auto; }
  .intro-page-about h1 span {
    font-size: 45px; }
.intro-page-about .text-green {
  color: #84BA23; }
.intro-page-about .logo-about {
  max-width: 200px !important;
  width: 100%;
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 58px; }

.explain-logo {
  text-align: center; }
  .explain-logo h2 {
    color: #5726DA;
    margin-top: 30px; }
  .explain-logo p {
    font-size: 18px;
    margin: 20px 0 0 0;
    display: inline-block; }

.blog-about .center {
  max-width: 85%;
  margin: 40px auto; }
.blog-about .btn-action {
  margin-top: 20px;
  color: #5726DA; }
  .blog-about .btn-action i {
    margin-left: 10px;
    font-weight: 800; }
.blog-about .row {
  position: relative; }
  .blog-about .row .btn-common-fill {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto; }

.text-large {
  font-size: 60px;
  display: inline-block;
  line-height: 70px; }

.item-blog-about {
  text-align: center; }
  .item-blog-about p {
    font-size: 20px;
    margin: 15px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .item-blog-about .avatar-thumb a img {
    border-radius: 8px; }
  .item-blog-about.item-blog01 .avatar-thumb a {
    padding-top: 135%; }

.page-contact .two-filed-col .form-group {
  width: 100%; }
.page-contact form {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border-radius: 8px;
  padding: 30px; }

.info-page-contact-right {
  padding-left: 50px; }
  .info-page-contact-right p {
    font-size: 18px;
    margin: 15px 0; }
  .info-page-contact-right .btn-common-line {
    border: 1px solid #5726DA !important;
    width: fit-content;
    background-color: #fff !important; }

/*# sourceMappingURL=style.css.map */
